# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de datos
basedatos_votos.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Compilados
dist/
build/

# Temp
temp/
tmp/
